@media (max-width: 1400px) {
  .card.most::before {
    top: 5%;
    left: 26%;
  }
}
@media (max-width: 1200px) {
  .card.most::before {
    top: 4%;
    left: 25%;
  }
  main .cards .card {
    padding: 60px 30px;
  }
}

@media (max-width: 992px) {
  body {
    gap: 0;
  }
  .card.most::before {
    top: 7%;
    left: 38%;
  }
  .nav > .nav-items,
  .nav > .btn {
    display: none !important;
  }
  .nav .menu-container {
    display: flex !important;
    /* position: absolute; */
    z-index: 2;
  }
  .nav img.logo {
    width: 37% !important;
    height: 54px !important;
  }
  .price-text p {
    font-size: 20px;
  }
  .nav:has(input:checked) .cont {
    left: 0%;
  }
  main {
    width: 90%;
    margin-top: 160px;
  }
  main .text {
    flex-direction: row;
    /* align-items: start;
    gap: 60px; */
  }
  main h1 {
    font-size: 30px;
  }
  .text-btn {
    align-self: end;
  }
  main .cards .card {
    width: 100% !important;
    margin-bottom: 15px;
  }

  .hidden-card {
    display: none;
  }
  .charge {
    width: 90%;
  }
  .charge h2 {
    font-size: 25px;
  }
  .charge-card .price {
    order: -1;
  }
  .charge-card {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    padding: 35px 43px;
  }
  .charge-card .text h3 {
    font-size: 22px;
    width: 80%;
  }
  .start-section .start {
    margin: 30px auto;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    font-size: 27px;
    width: 100%;
  }
  .ques-section > h2 {
    font-size: 28px;
  }
  .ques-section {
    width: 100%;
    margin: 40px 0;
  }
  .ques-item h3 {
    font-size: 27px;
  }
  footer {
    width: 90%;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 5%;
  }
  footer .col {
    width: calc(90% / 3);
  }
}
@media (max-width: 768px) {
  body {
    gap: 0;
  }
  .card.most::before {
    top: 7%;
    left: 36%;
  }
  .nav > .nav-items,
  .nav > .btn {
    display: none !important;
  }
  .nav .menu-container {
    display: flex !important;
    /* position: absolute; */
    z-index: 2;
  }
  .nav img.logo {
    width: 37% !important;
    height: 54px !important;
  }
  .nav:has(input:checked) .cont {
    left: 0%;
  }
  main {
    width: 90%;
    margin-top: 160px;
  }
  main .text {
    flex-direction: column;
    align-items: start;
    gap: 60px;
  }
  main h1 {
    font-size: 30px;
  }
  /* main h1 {
    width: 100%;
  } */
  .text-btn {
    align-self: end;
  }
  main .cards .card {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .hidden-card {
    display: none;
  }
  .charge {
    width: 90%;
  }
  .charge h2 {
    font-size: 25px;
  }
  .charge-card .price {
    order: -1;
  }
  .charge-card {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    padding: 35px 43px;
  }
  .charge-card .text h3 {
    font-size: 22px;
    width: 80%;
  }
  .start-section .start {
    margin: 30px auto;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    font-size: 27px;
    width: 100%;
  }
  .ques-section > h2 {
    font-size: 28px;
  }
  .ques-section {
    width: 100%;
    margin: 40px 0;
  }
  .ques-item h3 {
    font-size: 23px;
  }
  footer {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  footer .col {
    width: 100%;
  }
}
@media (max-width: 576px) {
  body {
    gap: 0;
  }
  .nav > .nav-items,
  .nav > .btn {
    display: none !important;
  }
  .card.most::before {
    top: 5%;
    left: 30%;
  }
  .nav .menu-container {
    display: flex !important;
    /* position: absolute; */
    z-index: 2;
  }
  .nav img.logo {
    width: 37% !important;
    height: 54px !important;
  }
  .nav:has(input:checked) .cont {
    left: 0%;
  }
  main {
    width: 90%;
    margin-top: 160px;
  }
  main .text {
    flex-direction: column;
    align-items: start;
    gap: 60px;
  }
  main h1 {
    font-size: 30px;
  }
  /* main h1 {
    width: 100%;
  } */
  .text-btn {
    align-self: center;
  }
  main .cards .card {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .hidden-card {
    display: none;
  }
  .charge {
    width: 90%;
  }
  .charge h2 {
    font-size: 25px;
  }
  .charge-card .price {
    order: -1;
  }
  .charge-card {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    padding: 35px 43px;
  }
  .charge-card .text h3 {
    font-size: 22px;
    width: 80%;
  }
  .start-section .start {
    margin: 30px auto;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    font-size: 27px;
    width: 100%;
  }
  .ques-section > h2 {
    font-size: 28px;
  }
  .ques-section {
    width: 100%;
    margin: 40px 0;
  }
  .ques-item h3 {
    font-size: 23px;
  }
  footer {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  footer .col {
    width: 100%;
  }
}
